<a href="https://colab.research.google.com/github/Kridr/HW_OSDA_HSE/blob/main/CbO_reproduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is reproduction of Close-by-One algorithm from "Algorithms for the Construction of Concept Lattices and Their Diagram Graphs"

Made by Lyalikov Nikita

In [1]:
import pandas as pd

In [74]:
matrix = pd.DataFrame(
    columns=['a', 'b', 'c', 'd'],
    index=[1, 2, 3, 4, 5],
    data=[
        [0, 1, 1, 1],
        [1, 1, 1, 0],
        [0, 1, 1, 0],
        [1, 0, 0, 1],
        [1, 1, 0, 1]
    ]
)

matrix

   a  b  c  d
1  0  1  1  1
2  1  1  1  0
3  0  1  1  0
4  1  0  0  1
5  1  1  0  1

In [75]:
def d(A):
    if type(A[0]) == int:
        answer = []
        for col in matrix.columns:
            subm = matrix.loc[A, col]
            if subm.sum() == subm.count():
                answer.append(col)
    else:
        answer = []
        for ind in matrix.index:
            subm = matrix.loc[ind, A]
            if subm.sum() == subm.count():
                answer.append(ind)
    return answer

def dd(A):
    return d(d(A))

In [86]:
def Process(A, g, C, D):
    if not [h for h in C if h not in A and h < g]:
        L.append((C, D))
        for f in [h for h in matrix.index if h not in C and g < h]:
            Z = C + [f]
            df = d([f])
            Y = [x for x in D if x in df]
            if Y:
                X = d(Y)
                Process(Z, f, X, Y)

In [87]:
L = []
for g in matrix.index:
    Process([g], g, dd([g]), d([g]))
L

[([1], ['b', 'c', 'd']),
 ([1, 2, 3], ['b', 'c']),
 ([1, 2, 3, 5], ['b']),
 ([1, 4, 5], ['d']),
 ([1, 5], ['b', 'd']),
 ([2], ['a', 'b', 'c']),
 ([2, 4, 5], ['a']),
 ([2, 5], ['a', 'b']),
 ([4, 5], ['a', 'd']),
 ([5], ['a', 'b', 'd'])]

In [93]:
for l in L:
    print('(\{' + ', '.join([str(x) for x in l[0]]) + '\}, \{' + ', '.join(l[1]) + '\})\\newline')

(\{1\}, \{b, c, d\})\newline
(\{1, 2, 3\}, \{b, c\})\newline
(\{1, 2, 3, 5\}, \{b\})\newline
(\{1, 4, 5\}, \{d\})\newline
(\{1, 5\}, \{b, d\})\newline
(\{2\}, \{a, b, c\})\newline
(\{2, 4, 5\}, \{a\})\newline
(\{2, 5\}, \{a, b\})\newline
(\{4, 5\}, \{a, d\})\newline
(\{5\}, \{a, b, d\})\newline